/storage
/storage/fonts
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
__pycache__/
.htaccess
/public/.user.ini
/public/error.log
/public/php.ini
error_log